body {
    background-color: #212529;
}

.logo-img {
    outline: 2px solid #fff;
    outline-offset: 2px;
}

.baner-tg {
    border-radius: 10px;
    box-shadow: 0 3px 10px #131313;
}


.baner-text-header {
    color: #fff;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.baner-cripto-text {
    font-size: 30px;
    font-weight: bold;
}

.next-link {
    color: #fff;
}
