* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 400px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo p {
    font-size: 30px;
    font-weight: bold;
}

.search {
    width: 100px;
    height: 35px;
    border-radius: 100px;
    font-size: 18px;
    color: #ffffff;
    background-color: #8b8bff;
}


.baner {
    margin-top: 20px;
}

.baner h2 {
    text-align: center;
}

main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    gap: 30px;
}

.coin-block {
    width: 220px;
    height: 70px;
    border-radius: 30px;
    background-color: #ebebeb;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.coin-block img {
    margin-left: 10px;
}

.coin-block p {
    margin-right: 10px;
    font-size: 30px;
}

.ton-coin img {
    width: 60px;
}

.not-coin img {
    width: 60px;
    border-radius: 100px;
}


@media (max-width: 680px) {
    header {
        gap: 0;
    }

    main {
        justify-content: center;
    }

    .coin-block {
        width: 200px;
    }

    .coin-block img {
        margin-left: 5px;
    }
    
    .coin-block p {
        margin-right: 15px;
        font-size: 30px;
    }
}